<section id="about">
    <div class="container">
        <h2><strong>About me</strong></h2>
        <span class="bar-title mb-5"></span>
        <div class="row">
            <div class="col-lg-4 col-md-12" data-aos="fade-right" >

                <picture>
                    <img src="assets/images/profile.jpg" alt="photo de profil" class="img-fluid">
                </picture>
               <div class="d-flex justify-content-center">
                    <a  class="btn-social-media" href="https://www.linkedin.com/in/niss" rel="tooltip" target="_blank"  title="Link to my Linkedin">
                        <i  class="fa fa-linkedin fa-lg "></i>
                    </a>
                    <a class="btn-social-media btn-default btn-round btn-lg btn-icon" href="https://github.com/niss" rel="tooltip" target="_blank" title="Link to my GitHub" >
                        <i  class="fa fa-github fa-lg "></i></a>
                </div>


            </div>
            <div class="col-lg-8  col-md-12 pt-4 pt-lg-0" data-aos="fade-left">
                <h3>Full-stack developer with a flair for Scrum.</h3>
                <p class="font-italic">
                   Staying on top of the newest processes and technologies is very important to me.
                    <br>Passionated about developing both <b>Back-End</b> and <b>Front-End</b>.
                </p>
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <ul>
                            <li>
                                <fa-icon [icon]="mapMarker"></fa-icon><strong> Århus</strong>
                            </li>
                            <li>
                                <fa-icon [icon]="building"></fa-icon><strong> Denmark</strong>
                            </li>
                            <li>
                                <fa-icon [icon]="email"></fa-icon><strong><a href="mailto:nicklashnissen@gmail.com">
                                        nicklashnissen@gmail.com</a></strong>
                            </li>

                        </ul>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <ul>
                            <li>
                                <fa-icon [icon]="birthday"></fa-icon><strong> 28 years of age</strong>
                            </li>
                            <li>
                                <fa-icon [icon]="badge"></fa-icon><strong> IT-Engineer</strong>
                            </li>
                            <li>
                                <fa-icon [icon]="home"></fa-icon><strong> Agility and Scrum </strong>
                            </li>
                        </ul>
                    </div>
                </div>
                <p>
                  Developing IT has come a lot of way the past years. Communication and planning is more important now than ever.
                  Therefore agile processes within a company is of high importance. Combine it with good architecture and you have a goldmine.
                </p>
            </div>
        </div>
    </div>
</section>
